In [ ]:

angka = 25
print (angka)
print (type(angka))

25
<class 'int'>

In [ ]:

nilai = 2.4
print (nilai)
print (type(nilai))

2.4
<class 'float'>

In [ ]:

angka =4<5
print (angka)
print (type(angka))

True
<class 'bool'>

In [ ]:

nama = "Sitti Rahma Ramadani"
print (nama)
print (type(nama))

Sitti Rahma Ramadani
<class 'str'>

In [ ]:

nilai1 = 11
nilai2 = 2
print (nilai1 + nilai2)
print (nilai1 - nilai2)
print(nilai1 * nilai2)
print(nilai1 / nilai2)
print(nilai1 ** nilai2)
print(nilai1 % nilai2)
print(nilai1 // nilai2)

13
9
22
5.5
121
1
5

In [ ]:

nilai = 2
nilai += 5
print (nilai)
nilai = 2
nilai *= 5
print (nilai)
nilai = 2
nilai -= 5
print (nilai)
nilai = 2
nilai /= 5
print (nilai)
nilai = 2
nilai %= 5
print (nilai)
nilai = 2
nilai **= 5
print (nilai)
nilai = 2
nilai //= 5
print (nilai)

7
10
-3
0.4
2
32
0

In [ ]:

print (1==1)
print (2!=4)
print (4<3)
print (8>11)
print (9<=12)
print (10>=13)

True
True
False
False
True
False